n8n/Interview Feedback Generator.json
{
  "name": "Interview Feedback Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{WEBHOOK_PATH}}",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-160, 0],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.messages }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Based on the user's interview conversation messages, generate detailed feedback/report. Suggest improvements and rate performance out of 10. Output valid JSON with fields: feedback, suggestions, rating."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.body.messages }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [176, -64],
      "id": "feedback-chain",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [160, 224],
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "{{OPENROUTER_CREDENTIAL_ID}}",
          "name": "{{OPENROUTER_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[\n  {\n    \"text\": {\n      \"feedback\": \"string\",\n      \"suggestions\": \"string\",\n      \"rating\": 0\n    }\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [416, 256],
      "id": "feedback-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [528, -64],
      "id": "webhook-response",
      "name": "Respond to Webhook"
    }
  ],

  "pinData": {},

  "connections": {
    "Webhook": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Basic LLM Chain", "type": "ai_outputParser", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1"
  },

  "versionId": "{{VERSION_ID}}",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{INSTANCE_ID}}"
  },

  "id": "{{WORKFLOW_ID}}",
  "tags": []
}
